.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  box-shadow: 1px 1px 4px 1px #000000;
  padding: 10px;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}

.status {
  width: 14px;
  height: 14px;
  background-color: green;
  border-radius: 50%;
}
