.statistics {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  height: 100%;
  text-align: center;
  box-shadow: 1px 1px 4px 1px #000000;
}
.title {
  text-transform: uppercase;
  padding: 10px;
}
